# Build results
bin/
obj/
artifacts/
.appdata/
.dotnet_home/

# User-specific files
*.user
*.suo

# Rider files
.idea/

# VSCode
.vscode/

# DotNet environment
*.DotSettings.user
*.vs/

# Logs
*.log

# Secret
secrets.json
appsettings.*.json
.env
